:root {
    --primary-color: rgb(141 194 235/77%);
    --secondary-color: #fbfdfe;
    --accent1-color: rgb(32 113 145);

    --accent2-color: #044367;

    --body-font: 2rem;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    background-color: var(--accent2-color);
}

header img {
    border: 5px;
    width: 120px;
    height: auto;
    grid-column: 2;
    align-items: ;
}

.map-form {
    display: flex;
    justify-content: center;

}

form {
    width: 500px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0/0.1);
    border-radius: 0.5rem;

    display: grid;
}

input,
textarea {
    padding: 0.5rem;

    font-size: 1.1rem;

}

.column1 {
    grid-template-columns: 1fr 2fr;

}

button {
    margin: 1rem;
    background-color: grey;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkgreen;
}

.navigation {
    display: flex;
    justify-content: center;
    list-style: none;
}

.navigation li a {

    padding: 6px 12px;
    border: 1px solid var(--primary-color);
    text-decoration: none;
    background-color: var(--accent1-color);
    font-size: var(--body-font);

}

.radio-1 {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 1rem;
    max-width: 500px;
}

.radio-2 {
    display: flex;
    flex-direction: column;
}

.radio-3 {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 8px;
    margin-bottom: 6px;
    border-radius: 8px;
    cursor: pointer;

}

.contact {
    text-align: center;
    padding: 30px;
}

.employee {
    margin: 20px;
    padding: 3rem 2rem;
    background-color: white;
    text-align: center;
    border: 1px solid black;

}

.employee h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: steelblue;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.employee-gallery {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.employee-gallery img {
    width: 200px;
    height: auto;
    border-radius: 8px;

}

.employee-gallery figcaption {
    font-size: 1.5rem;
    text-align: center;
}

footer {

    background-color: var(--accent2-color);
    align-items: center;
    padding: 15px;

    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;

}

footer p {
    grid-column: 3;
}

.socialmedia {
    grid-column: 5;
}