:root {
    --primary-color: rgb(141 194 235/77%);
    --secondary-color: #fbfdfe;
    --accent1-color: rgb(32 113 145);

    --accent2-color: rgb(4, 67, 103);

    --body-font: 2rem;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    background-color: var(--accent2-color);
    color: white;
}

header img {
    border: 5px;
    width: 120px;
    height: auto;
    grid-column: 2;

}

.navigation {
    display: flex;
    justify-content: center;
    list-style: none;
}

.navigation li a {

    padding: 6px 12px;
    border: 1px solid var(--primary-color);
    text-decoration: none;
    background-color: var(--accent1-color);
    font-size: var(--body-font);
    color: white;

}

.hero {
    position: relative;
    width: 100%;
    border: 1px solid black;

}

.hero img {
    width: 100%;
    height: 100%;
    display: absolute;

}

.hero h1 {
    position: absolute;
    top: 30px;
    left: 50%;
    color: var(--secondary-color);
    font-size: 2.5rem;
    margin: 0;

}

.herotrips {
    position: relative;
    width: 100%;
    border: 1px solid black;

}

.herotrips img {
    width: 100%;
    height: 100%;
    display: absolute;

}

.herotrips h1 {
    position: absolute;
    border: 1px solid white;
    top: 50%;
    left: 50%;
    color: var(--secondary-color);
    font-size: 5rem;
    margin: 0;

}

.hero article {
    position: absolute;
    top: 350px;
    left: 500px;
    width: 60%;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    box-sizing: border-box;
    color: white;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.5rem;

}

.hero article img {
    float: right;
    margin-left: 30px;
    width: 250px;
    height: auto;
}

.history {
    margin-top: 20px;
    padding: 3rem 2rem;
    background-color: #f8f8f8;
    text-align: center;
    border: 1px solid steelblue;

}

.history h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: steelblue;
}

.history-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;

}

.history-content p {
    flex: 1 1 25%;
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    min-width: 200px;

}

.history-content img {
    width: 350px;
    height: auto;
    border-radius: 8px;
}

.adventures {
    margin-top: 20px;
    padding: 3rem 3rem;
    background-color: rgb(222, 233, 251);
    text-align: center;
    border: 1px solid steelblue;

}

.adventures h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: steelblue;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.adventure-gallery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.adventurestrips {
    margin-top: 20px;
    padding: 3rem 3rem;
    background-color: rgb(222, 233, 251);
    text-align: center;
    border: 1px solid steelblue;

}

.adventurestrips h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: steelblue;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.adventure-gallerytrips {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.adventure-gallerytrips img {

    width: auto;
    height: 180px;
    border-radius: 8px;

}

.adventure-galleryhome {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;

}

.adventure-gallerytrips figcaption {
    font-size: 1.5rem;
    text-align: center;
    padding: 20px;
}

.adventure-gallery img {

    width: 200px;
    height: auto;
    border-radius: 8px;

}

.adventure-galleryhome img {

    width: 280px;

    height: 180px;
    border-radius: 8px;

}

.adventure-galleryhome figure {
    text-align: center;
}

.adventure-galleryhome figcaption {

    font-size: 1.5rem;

}

.adventure-gallery figcaption {
    font-size: 1.5rem;
    text-align: center;
}

footer {

    background-color: var(--accent2-color);
    align-items: center;
    padding: 15px;

    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;

}

footer p {
    grid-column: 3;
}

.socialmedia {
    grid-column: 5;
}

.map-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: ;

}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

}

form {
    width: 400px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0/0.1);
    border-radius: 0.5rem;

    display: grid;
}

input,
textarea {
    padding: 0.5rem;

    font-size: 1.1rem;

}

.column1 {
    grid-template-columns: 1fr 1fr;

}

.column1home {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 15px 15px;

}

button {
    margin: 0;
    background-color: var(--accent1-color);
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: steelblue;
}

.radio-1 {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 1rem;
    max-width: 500px;
}

.radio-2 {
    display: flex;
    flex-direction: column;
}

.radio-3 {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 8px;
    margin-bottom: 6px;
    border-radius: 8px;
    cursor: pointer;

}

.contact {
    text-align: center;
    padding: 30px;
    background-color: rgb(222, 233, 251);
}

.employee {
    margin: 20px;
    padding: 3rem 2rem;
    background-color: rgb(222, 233, 251);
    text-align: center;
    border: 1px solid black;

}

.employee h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: steelblue;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.employee-gallery {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.employee-gallery img {
    width: 200px;
    height: auto;
    border-radius: 8px;

}

.employee-gallery figcaption {
    font-size: 1.5rem;
    text-align: center;
}

.sectionhome {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    background-color: rgb(222, 233, 251);

}

table {
    margin: 35px auto;
    padding: 30px;
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 1.3rem;
    letter-spacing: 2px;
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 20px 20px;
    text-align: center;
}

thead th,
tfoot tr {
    background-color: steelblue;
    color: #fff;
    font-weight: 700;
}