:root {
    --primary-color: rgb(141 194 235/77%);
    --secondary-color: #fbfdfe;
    --accent1-color: rgb(32 113 145);

    --accent2-color: #044367;

    --body-font: 2rem;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 120px 4fr;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    background-color: var(--accent2-color);
}

header img {
    border: 5px;
    width: 120px;
    height: auto;
    grid-column: 2;
}

.navigation {
    display: flex;
    justify-content: center;
    list-style: none;
}

.navigation li a {

    padding: 6px 12px;
    border: 1px solid var(--primary-color);
    text-decoration: none;
    background-color: var(--accent1-color);
    font-size: var(--body-font);

}

.hero {
    position: relative;
    width: 100%;
    border: 1px solid black;

}

.hero img {
    width: 100%;
    height: 100%;
    display: block;

}

.hero h1 {
    position: absolute;
    top: 30px;
    left: 50%;
    color: var(--secondary-color);
    font-size: 2.5rem;
    margin: 0;

}

.hero article {
    position: absolute;
    top: 350px;
    left: 500px;
    width: 60%;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    box-sizing: border-box;
    color: white;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.5rem;

}

.hero article img {
    float: right;
    margin-left: 30px;
    width: 250px;
    height: auto;
}

.history {
    margin-top: 20px;
    padding: 3rem 2rem;
    background-color: #f8f8f8;
    text-align: center;
    border: 1px solid steelblue;

}

.history h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: steelblue;
}

.history-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;

}

.history-content p {
    flex: 1 1 25%;
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    min-width: 200px;

}

.history-content img {
    width: 350px;
    height: auto;
    border-radius: 8px;
}

.adventures {
    margin-top: 20px;
    padding: 3rem 2rem;
    background-color: white;
    text-align: center;
    border: 1px solid steelblue;

}

.adventures h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: steelblue;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.adventure-gallery {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.adventure-gallery img {
    width: 200px;
    height: auto;
    border-radius: 8px;

}

.adventure-gallery figcaption {
    font-size: 1.5rem;
    text-align: center;
}

footer {

    background-color: steelblue;
    text-align: center;
    color: white;

}

.footertext,
.socialmedia {
    display: inline-block;
    vertical-align: middle;
}

.socialmedia {
    text-align: end;
    text-decoration: none;
}