:root {
    --primary-color: #8dc2ebc5;
    --secondary-color: #f4a261;
    --accent1-color: #207191;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sas-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 1000px;
    margin: 0 auto;
}

nav a {
    display: block;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 0px;
    padding: 0px;
}

h1 {
    position: absolute;
    top: 10px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
}

h2 {
    padding: 16px;
    background-color: #207191;
    text-align: center;
}

article {
    position: absolute;
    top: 420px;
    left: 25px;

    width: 95%;
    color: aqua;
    background-color: #207191;
    opacity: 0.8;
}

footer {

    text-align: left;

}

/*  class Selector */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.hero {
    position: relative;

}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {

    float: right;
    width: 125px;

    margin: 25px;
    background-color: #eee;

}

.socialmedia {
    text-decoration: none
}