header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 120px 4fr;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    background-color: steelblue;
}

header img {
    border: 5px;
    width: 120px;
    height: auto;
    grid-column: 2;
}

.navigation {
    display: flex;
    justify-content: center;
    list-style: none;
}

.navigation li a {

    padding: 6px 12px;
    border: 1px solid #000;
    text-decoration: none;
    background-color: white;
    font-size: 2rem;

}

.hero {
    padding: 40px 20px;
    text-align: center;
    left: 50%;
    color: #ccc;
    min-height: 400px;
    background-size: cover;
    background-position: center;
}

.hero-content {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid white;
    padding: 20px;
    align-items: center;
    color: white;
    max-width: auto;
    font-size: 1.5rem;

}

.hero-content p {
    flex: 1;
}

.hero-content img {
    width: 200px;
    padding: 10px 10px;
    border: 1px solid #ccc;

}

.history {
    margin-top: 20px;
    padding: 3rem 2rem;
    background-color: #f8f8f8;
    text-align: center;
    border: 1px solid steelblue;

}

.history h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: steelblue;
}

.history-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;

}

.history-content p {
    flex: 1 1 25%;
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    min-width: 200px;
    font-size: 1.1rem;

}

.history-content img {
    width: 350px;
    height: auto;
    border-radius: 8px;
}

.adventures {
    margin-top: 20px;
    padding: 3rem 2rem;
    background-color: white;
    text-align: center;
    border: 1px solid steelblue;

}

.adventures h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: steelblue;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.adventure-gallery {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.adventure-gallery img {
    width: 200px;
    height: auto;
    border-radius: 8px;

}

.adventure-gallery figcaption {
    font-size: 1.5rem;
    text-align: center;
}

footer.socialmedia {
    background-color: steelblue;
    color: white;
    padding: 2rem 1rem;
    margin-top: 20px;
    border-top: 1px solid #000;
    display: flex;
    justify-content: flex-end;
}

footer.socialmedia nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 400px;

}

footer.socialmedia nav div {
    display: flex;
    gap: 15px;