:root {
    --primary-color: rgb(141 194 235/77%);
    --secondary-color: #f4a261;
    --accent1-color: rgb(32 113 145);

    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sas-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 1000px;
    margin: 0 auto;
}

nav a {
    display: block;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 2px;
    padding: 2px;
}

h1 {
    position: absolute;
    top: 10px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
}

h2 {
    margin-top: 1px;
    padding: 16px;
    background-color: #207191;
    text-align: center;
}

article {
    position: absolute;
    top: 420px;
    left: 12%;

    width: 80%;
    color: aqua;
    background-color: #207191;
    opacity: 0.8;
    text-align: left;
}

footer {

    text-align: left;

}

/*  class Selector */

.hero {
    position: relative;

}

.hero h1 {
    position: absolute;
    top: 0;
    left: 0;
}

.hero article {
    position: absolute;
}

.hero img {

    position: relative;
    float: right;
    width: 100%;
    height: auto;
}

.hero article img {

    position: relative;
    float: right;
    width: 125px;

    margin: 25px;
    background-color: #eee;

}

.socialmedia {
    text-decoration: none;
}