header {
    width: 50rem;
    border: 1px solid rgb(44, 31, 162);
    padding: 1rem;
    background-color: #28537e;
    color: #333;

}

main {
    max-width: 840px
}

nav a {
    color: white;
    padding: 10px;
    display: block;
}

h1 {
    color: steelblue;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0/0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

footer {
    margin: top 15px;
    border-top: 1px solid #000;
    text-align: center;
}